@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lobster|Sacramento|Open+Sans|Quicksand');

body{
  background-color: #999999;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
}

/* h2 {
    font-family: 'Julius Sans One', sans-serif;
  } */