{% extends 'base.html' %}

{% block content %}

    {{ block.super }}

    <div class="container">
        
      	<h1 class="text-center">PICSART!!!</h1>

		<div class="row">
			{% for photo in photos %}
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
				{% if photo.image %}
				<div class="overlay">
					<div class="flex red">
						<a href="#" class="btn-primary">View Details</a>
					</div>
				</div>
				<div class="zoom">
				</div>
				{% endif %}
				<div class="zoom">
					<div class="overlay">
						<div class="flex red">
						</div>
					</div>
					<img id="one" src="{{photo.image.url}}" alt="test" class="img-fluid">
				</div>
				{% if photo.location.location == "Nairobi" %}
					<p class="mt-2"><a href="{% url 'nairobi' %}">{{photo.location}}</a></p>
				{% elif photo.location.location == "Majuu" %}
					<p class="mt-2"><a href="{% url 'majuu' %}">{{photo.location}}</a></p>
				{% endif %} 
				{% for category in photo.category.all %}
					<p>{{image_category}}</p>
				{% endfor %}
			</div>
				{% empty %}
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h2 class="text-center">No pics yet</h2>
				</div>
			{% endfor %}
		</div>  

    </div>

  {% endblock %}
